// UI colors
$black: #000000;
$white: #ffffff;
$smoke: #f5f5f5;
$mango: #ffbe0bff;
$orange-pantone: #fb5607ff;
$winter-sky: #ff006eff;
$blue-violet: #8338ecff;
$azure: #3a86ffff;

html {
  font: 300 1rem/1.2rem "Nunito", sans-serif;
}

body {
  margin: 2rem;
}

ul.lists-container {
  list-style: none;
  padding: 0;
  display: grid;
  grid-auto-columns: minmax(250px, 350px);
  grid-auto-flow: column;
  column-gap: 2rem;

  li.list {
    background: $smoke;

    &.archive {
      display: none;
    }

    .list-title {
      text-align: center;
      margin: 0;
      padding: 1rem 0.75rem;
    }

    ul {
      list-style: none;
      padding: 1rem;
      margin: 1rem;

      .card {
        margin: 1rem 0;
        padding: 1rem;
        border-radius: 0.25rem;
      }
    }
  }
}

// Card Colors
$light-pink: #ffadadff;
$deep-champagne: #ffd6a5ff;
$lemon-yellow-crayola: #fdffb6ff;
$tea-green: #caffbfff;
$celeste: #9bf6ffff;
$baby-blue-eyes: #a0c4ffff;
$maximum-blue-purple: #bdb2ffff;
$mauve: #ffc6ffff;
